
img.mat {
  height: auto;
  display: block;
  max-width: 95% !important;
  max-height: 95vh !important;
  padding: 5%;
  background-color: #A67B5B;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 6px double #483C32;
  box-sizing: border-box;
  box-shadow: 0 0 0 11px rgb(180, 130, 90), 0 0 30px rgba(0, 0, 0, 0.8) inset;
  outline: 2px solid #333;
  outline-offset: 0px;
}